nav {
    display: flex;

    padding: 5% 10%;
    background-color: #969A97;
    
}

body {
    margin: 0;
}

nav li {
    padding: 20px;
    
}

nav a {
    text-decoration: none;
    color: #393a39;
}

nav a:hover {
    color: #F90093;
}

nav a:visited {
    color: #C60F7B;
}

.home {
    float: right;
}

.story {
    margin: 10% 30%;
}